.board_body {
    padding:1.5em; 
    display:flex;

}
.center {
    padding:20em 
}
.create_column{


    display: flex;justify-content: center;
    margin-top: 1em;
}
.Column_button {
    width: 400px;
    height: 80vh;
    margin-left: 25%;
    background: #E9EFFA;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    display: flex;

cursor: pointer;
font-size: 24px;
font-weight: 700;
line-height: 26.24px;
text-align: center;

}
.kanban {
    display: flex;
}
.kanban-column {
    width: 260px;
    padding: 5px;
    border:1px solid eee;
    padding-right:2em;
    padding-top:0.5em

}
.title{

    font-family: Plus Jakarta Sans,sans-serif;
    font-size: 13px;
    font-weight: 700;
   
    letter-spacing: 2.8000000953674316px;
    text-align: left;
    color : #828FA3;
    text-transform: uppercase;

    
}
.kanban-task {
    margin-top: 1.5em;
    border:1px solid #eee;
    background-color: #fff;
    padding:1em;
    padding-top:1.5em;
    padding-bottom:1.5em;
    border-radius : 7px;
    box-shadow: 0px 4px 6px rgba(54,78,126,.102);
    
}
.task-title {

font-family: Plus Jakarta Sans, sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 18.9px;
text-align: left;


}
.task-desc {
    margin-top: 8px;

font-family: Plus Jakarta Sans,sans-serif;
font-size: 13px;
font-weight: 700;
line-height: 15.12px;
text-align: left;
color: #828FA3;

}
.message-box {
position: relative;
left:5em;



}
.white {
    color:#fff
}
.m1 {
    position: relative;
    left:13em; 
}
.add_Columnbutton {
    background: #635FC7;
    width: 12em;
    height: 2.6em;
    border:none;
    outline: none;
    border-radius:50px;
font-family: Plus Jakarta Sans, sans-serif;
font-size: 17px;
font-weight: 700;
color:#fff;
cursor: pointer;
}